@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y63p0p');
  src:  url('fonts/icomoon.eot?y63p0p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y63p0p') format('truetype'),
    url('fonts/icomoon.woff?y63p0p') format('woff'),
    url('fonts/icomoon.svg?y63p0p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Figma:before {
  content: "\e900";
}
.icon-sketch:before {
  content: "\e901";
}
.icon-Zepiln:before {
  content: "\e902";
}
.icon-autocad:before {
  content: "\e903";
}
.icon-bag:before {
  content: "\e904";
}
.icon-cinema4d:before {
  content: "\e905";
}
.icon-cis:before {
  content: "\e906";
}
.icon-experience:before {
  content: "\e907";
}
.icon-graphic:before {
  content: "\e908";
}
.icon-html5:before {
  content: "\e909";
}
.icon-illustrator:before {
  content: "\e90a";
}
.icon-indesign:before {
  content: "\e90b";
}
.icon-industrial:before {
  content: "\e90c";
}
.icon-line:before {
  content: "\e90d";
}
.icon-loadmore:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-package:before {
  content: "\e910";
}
.icon-paint:before {
  content: "\e911";
}
.icon-photoshop:before {
  content: "\e912";
}
.icon-pro_e:before {
  content: "\e913";
}
.icon-sublime:before {
  content: "\e914";
}
.icon-ui:before {
  content: "\e915";
}
